<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>webProjectSJ</display-name>
	<welcome-file-list>
		<welcome-file>/page/MainPage.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MemberServlet</display-name>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>Member.MemberServlet</servlet-class>
		<init-param>
			<param-name>actionNames</param-name>
			<param-value>
			/Member/register.do:Member.MemberAction:register
			/Member/registerForm.do:Member.MemberAction:registerForm
			/Member/login.do:Member.MemberAction:login
			/Member/loginForm.do:Member.MemberAction:loginForm
			/Member/logout.do:Member.MemberAction:logout
			/Member/myPage.do:Member.MemberAction:myPage
			/Member/dupUidCheck.do:Member.MemberAction:dupUidCheck
			/Member/pwdCheck.do:Member.MemberAction:pwdCheck
			/Member/searchId.do:Member.MemberAction:searchId
			/Member/searchIdForm.do:Member.MemberAction:searchIdForm
			/Member/searchPw.do:Member.MemberAction:searchPw
			/Member/searchPwForm.do:Member.MemberAction:searchPwForm
			/Member/updateMember.do:Member.MemberAction:updateMember
			/Member/pwdUpdateCheck.do:Member.MemberAction:pwdUpdateCheck
			/Member/memberDelete.do:Member.MemberAction:memberDelete
			/Member/memberDeleteForm.do:Member.MemberAction:memberDeleteForm
			/Member/memberEdit.do:Member.MemberAction:memberEdit
			/Member/adminPage.do:Member.MemberAction:adminPage
			/Member/memberCondition.do:Member.MemberAction:memberCondition
			/Member/memberAdminDelete.do:Member.MemberAction:memberAdminDelete
			/Member/searchAdmin.do:Member.MemberAction:searchAdmin
  		</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>