@charset "UTF-8";

.logo {
	color: #6667AB;
	font-size: 7rem;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
}

h3 {
	display: inline-block;
	margin-bottom: 0px;
}

#editor {
	width: 90%;
}

#title {
	width: 70%;
}

#btitleDiv {
	margin-left: 0px;
}

.boardBody {
	width: 80%;
	border: 1px solid gray;
	margin: 0 auto;
	margin-top: 20px;
	min-height: 300px;
}

input, h3, button, a {
	border: none;
	font-size: 20px;
	text-decoration: none;
}

#bno, #bcategory {
	margin-right: 40px
}

.boardHeadDiv, .downloadFile, .uploadFile {
	width: 80%;
	margin: 0 auto;
}

.downloadFile {
	margin-top: 2%;
	font-size: 20px;
}

select {
	font-size: 20px;
}

#downloadA {
	text-decoration: none;
}

#backBtn, #deleteBoardBtn, #editBoardBtn, #replyBtn {
	color: white;
	background-color: #6667AB;
	border-radius: 3px;
	padding: 5px 10px;
}

.boardFoot {
	display: flex;
	justify-content: center;
	margin: 30px auto;
}

#editor {
	min-height: 300px;
	padding: 30px;
}

#editBoardBtn, #replyBtn {
	margin-right: 15px;
}

#backBtn {
	margin-left: 15px;
}

#writer {
	width: 13%;
}

.ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred
	{
	min-height: 300px;
}