@charset "UTF-8";

div {
	display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
	color: #6667AB;
	font-size: 7rem;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
	margin-top: 5%;
}

.searchPwCondition {
	height: 40px;
	width: 20rem;
	border: 2px solid lightgray;
	border-radius: 3px;
    font-size: 20px;
    margin: 10px auto;
    color: #6667AB;
}

.searchPwDiv {
	margin-top: 30px;
	width: 100%;
}

#searchPwBtn {
	/* width: 87%;
	height: 40px; */
	border: none;
	background-color: white;
	color: #6667AB;
	font-size: 30px;
	margin-top: 30px;
	border-radius: 3px;
	font-weight: bold;
	display: inline;
}

#checkPw {
	margin-top: 30px;
	color: red;
}

.changePage {
	display: inline-block;
}

.changePageBtn {
	border: none;
	background-color: white;
	color: #6667AB;
	font-size: 20px;
	margin-top: 30px;
	border-radius: 3px;
	display: inline;
}

/*number updown hidden*/
.searchPwDiv input[type="number"]::-webkit-outer-spin-button,
.searchPwDiv input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}