@charset "UTF-8";

#logoDiv {
	text-align: center;
}

.ck.ck-editor {
	max-width: 1000px;
}

.ck-editor__editable {
	min-height: 300px;
}

.logo {
	color: #6667AB;
	font-size: 7rem;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
}

h3 {
	display: inline-block;
}

button {
	color: white;
	background-color: #6667AB;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 1%;
}

.boardFoot {
	display: flex;
	justify-content: center;
}

.main {
	margin-left: 200px;
}
