@charset "UTF-8";

.logo {
	color: #6667AB;
	font-size: 7rem;
	font-weight: 900;
	text-align: center;
	text-decoration: none;
}

h3 {
	display: inline-block;
}

#editor {
	width: 90%;
}

#title {
	width: 70%;
}

.boardBody {
	width: 90%;
	border: 1px solid gray;
}